section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cabecalho {
    display: flex;
}

.cabecalho img {
    height:  60px;
}

.pinkPlanet {
    display: none;
}

.titulo {
    text-align: center;
}

.titulo h1 {
    font-size: 3em;
    color: #4b2e83;
}

.titulo p {
    font-size: 1.1em;
    color: #4b2e83;
}

.titulo span {
    color: #d71eaf;
}

.btns {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}

.btns button {
    font-size: .9em;
    min-width: 120px;

    border: none;
    border-radius: 20px;
    padding: 10px;

    color: #4b2e83;
    background-color: #EEE3FC;
    box-shadow: 1px 1px 5px #00000039;

    transition: .2s;
    cursor: pointer;
}

.btns button:hover {
    background: linear-gradient(90deg, #ff4ecb,#d71eaf);
    color: white;
    transform: scale(1.05);
}

.ativo {
    background: linear-gradient(90deg, #ff4ecb,#d71eaf);
    color: white !important;
}

/* CARDS */
.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container::before, .container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    z-index: 1;
}

.container::before {
    left: 0;
    background: linear-gradient(to right, #fff, transparent);
}

.container::after {
    right: 0;
    background: linear-gradient(to left, #fff, transparent);
}

.lista {
    display: flex;
    gap: 10px;

    border-radius: 20px;

    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.lista::-webkit-scrollbar {
    display: none;
}

.left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background: linear-gradient(135deg, #d71eaf, #a855f7);
    color: white;
    font-size: 20px;
    box-shadow: 0 4px 15px #00000033;

    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    z-index: 2;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.left:hover, .right:hover {
  transform: translateY(-50%) scale(1.1);
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}

