nav {
    /* display: flex;
    justify-content: center; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    font-size: 1em;
    padding: 20px;
    box-sizing: border-box;
    transition: .2s ease;
}

.scrolled {
    background: #c7a2fbe6;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 20px #0000001a;
}

.menuWrap {
    position: absolute;
    top: 20px;
    right: 30px;
    border-radius: 40px;
    width: 60px;
    height: auto;
}

.menuSVG {
    border: none;
    background: none;
    
    position: relative;
    z-index: 2;

    border-radius: 40px 40px 0 0;
    width: 61px;
}

.menuSVG svg {
    font-size: 2em;
    fill: #4b2e83;
    margin-top: 10px;
    cursor: pointer;
}

.menu { /* começa escondido */
    position: absolute;
    top: 40px;
    right: 2;

    transform: scaleY(0);
    transform-origin: top; /* abrir de cima pra baixo */

    width: auto;
    padding: 20px;
    border-radius: 0 0 40px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    opacity: 0;
    pointer-events: none;   
    
    transition: transform .3s ease, opacity .2s ease;
    box-shadow: 0 5px 20px #0000001a;
}

.menuAtivo {
    transform: scaleY(1);
    opacity: 1;
    background-color: #c7a2fb;
    pointer-events: auto;
}

.menu svg {
    font-size: 1.3em;
    fill: #4b2e83;
    transition: .2s;
    cursor: pointer !important;
}

.menu a.desk {
    display: none;
}

@media (min-width: 700px) {
    nav {
        justify-content: space-between;
    }

    .menuSVG {
        display: none;
    }

    .menu svg {
        display: none;
    }

    .menuWrap {
        top: 30px;
        right: 0;
    }

    .menu {
        top: 0;
        background: none;
        border-radius: 0;
        width: auto;

        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .menu a.desk {
        display: flex;
        position: relative;

        color: #4b2e83;
        font-size: 1em;
        text-shadow: 1px 1px 5px #4a2e8378; 
        text-transform: uppercase;
        font-weight: 500;

        margin-top: 10px;
        cursor: pointer;
    }

    .menu a.desk::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 0;
        height: 2px;
        background-color: #d71eaf;
        transition: width .2s ease;
    }

    .menu a.desk:hover {
        color: #d71eaf;
    }

    .menu a.desk:hover::after {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    nav {
        padding: 30px;
        font-size: 1.2em;
    }
}