nav {
    display: flex;
    justify-content: center;

    font-size: 1em;
    padding: 20px;

    height: 40px;
    /* background-color: #DDC4FF; */
}

.menu {
    display: none;
}

.menu p {
    position: relative;
}

.menu p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #d71eaf;
    transition: width .2s ease;
}

.menu p:hover {
    color: #d71eaf;
}

.menu p:hover::after {
    width: 100%;
}

.menuSVG svg {
    font-size: 2em;
    fill: #4b2e83;
    margin-top: 10px;
    cursor: pointer;
}

@media (min-width: 700px) {
    nav {
        justify-content: space-between;
    }

    .menuSVG {
        display: none;
    }

    .menu {
        display: flex;
        gap: 40px;
    }

    .menu p {
        color: #4b2e83;
        text-shadow: 1px 1px 5px #4a2e8378; 
        text-transform: uppercase;
        font-weight: 500;
        margin-top: 10px;
        cursor: pointer;
    }
}

@media (min-width: 1000px) {
    nav {
        padding: 30px;
        font-size: 1.2em;
    }
}